.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: -1em;
	padding: 5px;
    margin-left: 2em;
    margin-right: 2em;
}

.card {
	background: white;
    margin: 0.5em;
	margin-bottom: 2em;
	margin-top: 2em;
	max-height: 500px;
    max-width: 300px;
	flex: 1 1 300px;
	position: relative; /* to position items inside card */
}

.card a {
	color: black;
	text-decoration: none;
}

.card-content {
	padding: 1.4em;
	margin-top: 0;
	margin-bottom: 0.5em;
	font-weight: normal;
}

h2 {
	font-size: large;
}

.card-content p {
	font-size: 80%;
	font-weight: bolder;
}

.pixHolder {

  text-align: center;
  /* background-color: pink; */

}

.pixHolder img {

  padding-top: 5px;
  width: 80%;
  height: 150px;
  border-radius: 15px;

}



/* Flip Card Styling */

.flip-card {
	background-color: transparent;
	width: 200px;
	height: 350px;
	perspective: 1000px;
    
}

.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	/* text-align: center; */
	transition: transform 0.6s;
	transform-style: preserve-3d;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
    /* background-color: lightgray; */
    /* border: 1px solid darkgrey; */
}

.flip-card-front, .flip-card-back h2 {
	color: #46b98c;
}

.flip-card-back {
	/* color: darkolivegreen; */
    color: black;
	transform: rotateY(180deg);
    width: 90%;
    align-items: center;
    padding-top: 2em;
    padding-left: 2em;
}


.learnMore {
    position: inherit;
    width: inherit;
    bottom: 20%;
    right: -25%;
}
.learnMore a {

    border: 2px solid black;
    border-radius: 30%;
    background-color: #46b98c;
    padding: 2%;
    color: black;
    font-weight: bold;

}